// UI app colors
$main-color: #4f9c4b;
$second-color: #dd4040;
$text-color: #222;
$border-color: #c4c4c4;
$error-color: #b80909;

// Base colors
$white-color: #fff;
$gray-color: #f4f4f4;
$black-color: #000;

// Fonts
$heading-font-family: 'Raleway', sans-serif;
$font-family: 'Raleway', sans-serif;

// Breakpoints
$content-width: 1400px;
$desktop-breakpoin: 1000px;
$mobile-breakpoint: 600px;